*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} 


/* ---->HEADER<---- */
.barra{
    background-color: white;
}
.titolo{
     display: inline;
}
/* ---->HEADER<---- */


/* ---->SFONDO<---- */
.sfondo{
    background-color: rgb(75, 174, 240);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}
/* ---->SFONDO<---- */


/* ---->CONTAINER<---- */
.container{
    background-color: white;
    width: 800px;
    height: 600px;
    margin: auto;
    border-radius: 1%;
    margin-top: 40px;
}
/* ---->CONTAINER<---- */


/* ---->BOTTONI ESTERNI<---- */
.button1{
    background-color: #2ba7fa;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    border: white;
    
}
.button2{
    font-size: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    border: white;
}
/* ---->BOTTONI ESTERNI<---- */


/* ---->"TITLE2"<---- */
.container2{
margin: auto;
width: 80%;
}
.title2:before{
    content: '\2714';
}
.title2{
    color: rgb(78, 77, 77);
    margin-top: 25px;
}
.check{
    color: rgb(78, 77, 77);
    margin-top: 10px;
}
.check:before{
    content: '\2713';
}
/* ---->"TITLE2"<---- */


/* ---->BOTTONI<---- */
.genericbutton{
    border-radius: 15px;
    border: white;
    color: white;
    padding: 5px 5px;
    font-size: 10px;
}

#button-blu{
    background-color: #2ba7fa;
}
#button-purple{
    background-color: rgb(83, 55, 83);
}
#button-green{ 
    background-color: rgb(41, 177, 132);
}
#button-orange{
    background-color: rgb(173, 113, 0);
}
#button-pink{
    background-color: palevioletred;
}
#button-green2{
    background-color: rgb(169, 201, 123);
}
/* ---->BOTTONI<---- */


