*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} 

.barra{
    background-color: white;
}
.titolo{
     display: inline;
     justify-content: center;
}


.sfondo{
    background-color: blue;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    background-color: white;
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 1%;
    margin-top: 40px;
}

.button1{
    background-color: #2ba7fa;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 5px;
    border: white;
    
}
.button2{
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 5px;
    border: white;
}

.container2{
margin: auto;
width: 80%;
}
.title2:before{
    content: '\2714';
}
.title2{
    color: rgb(78, 77, 77);
}